<% if session[:id] %>

<h1 class="box-small text-center"><%= @user.name %>'s Profile</h1>

<h3 class="box-small text-center">Contributed Recipes:</h3>
<div class="box-small text-center">
  <ul>
    <div class="col-sm-4 col-lg-4 col-md-4">
      <% @recipes.each do |recipe| %>
      <li><%= recipe.name %></li>
      <ul>
        <li><b>Prep Time:</b> <%= recipe.prep_time %>min</li>
        <li><b>Cook Time:</b> <%= recipe.cook_time %>min</li>
        <li><b>Ingredients:</b> <%= recipe.ingredients %></li>
        <li><b>Price:</b> $<%= recipe.price.round(2) %></li>
        <li><b>Description:</b> <%= recipe.description %></li>
        <li><b>Directions:</b> <%= recipe.directions %></li>
        <li><b>Servings:</b> <%= recipe.servings %></li>
        <li><b>Course:</b> <%= recipe.course %></li>
      </ul>

      <% if current_user.id == recipe.user_id %>
      <%= link_to 'Edit', edit_recipe_path(recipe) %>
      <% end %>

      <% end %>
    </div>
  </ul>
</div>

<h3 class="box-small text-center">Loved Recipes:</h3>
<ul>
  <% @user.favorite_recipes.each do |recipe| %>
  <li><%= recipe.name %></li>
  <ul>
    <li><b>Prep Time:</b> <%= recipe.prep_time %>min</li>
    <li><b>Cook Time:</b> <%= recipe.cook_time %>min</li>
    <li><b>Ingredients:</b> <%= recipe.ingredients %></li>
    <li><b>Price:</b> $<%= recipe.price.round(2) %></li>
    <li><b>Description:</b> <%= recipe.description %></li>
    <li><b>Directions:</b> <%= recipe.directions %></li>
    <li><b>Servings:</b> <%= recipe.servings %></li>
    <li><b>Course:</b> <%= recipe.course %></li>
  </ul>

  <% if current_user.id == recipe.user_id %>
  <%= link_to 'Edit', edit_recipe_path(recipe) %>
  <% end %>

  <% end %>
</ul>


<%= link_to 'Create a New Recipe', new_recipe_path %>
<%= link_to 'See your Menu', menus_path %>

<% else %>
Please <a href="/">Sign In</a> to see your profile.

<% end %>
