<!DOCTYPE html>
<html>
  <head>
    <title>ChowSource</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

	<ul>
		<li><a href="/">Home</a></li>
		<% if current_user %>
			<li><a href="/recipes/new">New Recipes</a></li>
			<li><a href="/menus/new">New Menu</a></li>
			<li><a href="/sessions/<%= current_user.id %>">Profile</a></li>
			<li><a href="/">Sign out</a></li>
		<% else %>
			<li><a href="/">Sign In</a></li>
		<% end %>
	</ul>

    <%= yield %>
  </body>
</html>
